# Semana 05
Carlos Granados Pretel

Temas

1. Números
2. Variables
3. Manejo de Cadenas
3. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [ ]:
# 5.1 Operadores aritmeticos
# Se tiene: +,-,*,/,**,//

In [10]:
numero1=10
numero2=3
suma=numero1+numero2
resta=numero1-numero2
multiplicacion=numero1*numero2
division=numero1/numero2
residuo=numero1%numero2
potencia=numero1**numero2
cociente=numero1//numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [11]:
# 5.2 Operadores de asignacion
# Se tiene =, +=, -=, *=, /=, **=
numero=5
numero=numero + 3
print(numero)

8

In [17]:
# La operacion anterior tambien se puede expresar de la siguinet manera:
numero=5
numero+=3
print(numero)

8

In [19]:
# Ejemplo
numero=5
numero=numero**3
print(numero)

125

In [20]:
numero=5
numero**=3
print(numero)

125

In [21]:
# Operadores de comparacion
# Se tiene: ==, !=, <, >, <=, >=

In [22]:
# Ejemplo de igualdad:
numero1=5
numero2=2
numero1==numero2

False

In [23]:
# Con las cadenas funciona igual
nombre1="Frank"
nombre2="Frank"
nombre1==nombre2

True

In [24]:
# 5.4 Operadores Logicos
# Se tiene: and, or, not
numero1=5
numero2=6
numero3=7
numero4=8

In [25]:
numero1>numero2

False

In [26]:
# El not invierte el resultado
not(numero1<numero2)

False

In [27]:
numero1<numero2 and numero3<numero4

True

In [29]:
# Tambien puedes utilizar arentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [30]:
# 5.5 Operadores de pertenencia
# Se tiene: in, not in

In [31]:
# Ejemplo
aula=["Juan", "Daniel", "Ruben"]
alumno1="Diego"
alumno2="Juan"

In [32]:
# ¿Diego esta en el aula?
alumno1 in aula

False

In [33]:
# ¿Juan esta en aula?
alumno2 in aula

True

In [34]:
# ¿Diego no esta en el aula?
alumno1 not in aula

True

In [35]:
# ¿Juan no esta en aula?
alumno2 not in aula

False

In [36]:
# 5.5 Operadores de identidad
# Se tiene: is, is not

In [38]:
aula1=["Juan", "Daniel", "Ruben"]
aula2=["Juan", "Daniel", "Ruben"]
# A continuacion vamos a indicar que aula 3 va a compartir el mismo objeto que aula 1
aula3 = aula1

In [41]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [51]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [52]:
# ¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [46]:
aula1.append("Diego")

In [48]:
# Al imrimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [53]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [54]:
aula3=aula2

In [55]:
print(aula3)

['Juan', 'Daniel', 'Ruben']

In [56]:
aula3.append("Diego en 3")

In [57]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego en 3']

In [58]:
print(aula2)

['Juan', 'Daniel', 'Ruben', 'Diego en 3']