# Semana 05
Carlos Eduardo Granados Pretel

Temas:

1. Números
2. Variables
3. Manejo de Cadenas
3. Ingreso de datos por teclado
5. Operadores

2. Variables

In [1]:
#Siempre deben iniciar con una letra o un guión abajo. (Nunca con un número u otro simbolo)

In [6]:
edad=20
edad

20

In [4]:
nombre = "Carlos"
nombre

'Carlos'

In [5]:
apellido = "Granados Pretel"
apellido

'Granados Pretel'

In [11]:
nombrecompleto = nombre+apellido
nombrecompleto

'CarlosGranados Pretel'

In [10]:
nombrecompleto = nombre+ " " +apellido
nombrecompleto

'Carlos Granados Pretel'

In [15]:
# Para saber el tipo de variable utilizamos la funcion type()
# Por ejemplo

In [16]:
numero=500
type(numero)

int

In [17]:
type(nombre)

str

In [24]:
talla=1.78
talla

1.78

In [26]:
type(talla)

float

In [39]:
#Para convertir un numero en cadena usamos la funsion str()
numero=200
cadena=str(numero)
cadena

'200'

In [31]:
type(cadena)

str

In [40]:
# Para convertir una cadena en un entero utilizamos int()
cadena2="50"
numero2=int(cadena2)
numero2

50

In [41]:
type(numero2)

int

In [43]:
#Para convertir una cadena a un decimal utilizamos float()
cadena2="50"
numero2=float(cadena2)
numero2

50.0